<!DOCTYPE html>
<html xmls:th="http://www.thymeLeaf.org">
<head>
<meta charset="UTF-8">
<title>User Registration</title>
</head>
<body>
	<div align="center"> 
		<h1>User Registration</h1>
		<form action="#" th:action="@{/register}" th:object="${user}" method="post">
			<label>Full Name:</label>
			<input type="text" th:field="*{name}" /><br/>
			<label>Email:</label>
			<input type="text" th:field="*{email}" /><br/>
			<label>Gender:</label>
			<input type="text" th:field="*{gender}" /><br/>
			<label>Profession:</label>
			<input type="text" th:field="*{profession}" /><br/>
			<label>Married:</label>
			<input type="text" th:field="*{married}" /><br/>
			<label>Birthday:</label>
			<input type="text" th:field="*{birthday}" /><br/>
			<label>Password:</label>
			<input type="text" th:field="*{password}" /><br/>
			<button type="submit">Register</button>
		</form>
	</div>
</body>
</html>